// Variáveis
$font-primary: 'Roboto', sans-serif;
$color-background-body: #f5f6fa;
$color-background-header: #182C61;
$color-links: #fff;
$color-product-button: #44bd32;
$color-product-button-hover: #4cd137;
$max-width-container: 1024px;
$grid-gap: 1%;
$row-gap: 4%;
$mobile-max-width: 80%;
$tablet-grid-columns: repeat(2, 48.5%);
$tablet-column-gap: 3%;
$border-radius-large: 16px;
$border-radius-small: 8px;
